<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Как это работает?</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">Spravka Vision</div>
            <nav>
                <ul class="nav-links">
                    <li><a href="how">Как это работает?</a></li>
                    <li><a href="https://github.com/GriZimin/spravka_vision">GitHub</a></li>
                </ul>
            </nav>
        </div>
    </header>

    Куча текста из проекта.

</body>
</html>
