<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузка изображения</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">Spravka Vision</div>
            <nav>
                <ul class="nav-links">
                    <li><a href="how">Как это работает?</a></li>
                    <li><a href="https://github.com/GriZimin/spravka_vision">GitHub</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="main-container">
        <h2>Загрузите изображение справки</h2>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Отправить</button>
        </form>

        <div id="result" style="margin-top: 20px;"></div>
    </div>

    <script>
        const form = document.getElementById("upload-form");
        const resultDiv = document.getElementById("result");

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const formData = new FormData(form);

            try {
                const response = await fetch("/upload", {
                    method: "POST",
                    body: formData,
                });

                const data = await response.json();
                
                const processed = ` 
                    <img src="${data.image2_url}" alt="Печатный текст" style="max-width: 400px; border: 1px solid #ccc;">
                    <img src="${data.image3_url}" alt="Рукописный текст" style="max-width: 400px; border: 1px solid #ccc;">
                `

                var finalText = `
                    <h2>Результат обработки:</h2>
                    <div id="imgs">
                        <img src="${data.image1_url}" alt="Загруженное изображение" style="max-width: 400px; border: 1px solid #ccc;">`

                if (`${data.result}` == "СПРАВОЧКА") {
                    finalText += processed;
                }

                finalText += `</div>
                    <h3>${data.result}</h3>
                    <div>${data.text}</div>`;
                
                resultDiv.innerHTML = finalText;

            } catch (error) {
                resultDiv.innerHTML = `<p style="color:red;">Ошибка при отправке</p>`;
                console.error("Ошибка:", error);
            }
        });
    </script>
</body>
</html>
